.logo {

    text-align: center; /* Centra horizontalmente el contenido */
            padding: 22px; /* Espacio alrededor del contenedor */
            border: 3px solid #333; /* Borde de 2px sólido en color gris oscuro */
            border-radius: 10px; /* Bordes redondeados */
        }

        
    

