<form action="CONTACTO" method="POST">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required>

    <label for="correo">Correo:</label>
    <input type="email" id="correo" name="correo" required>

    <label for="asunto">Asunto:</label>
    <input type="text" id="asunto" name="asunto" required>

    <label for="mensaje">Mensaje:</label>
    <textarea id="mensaje" name="mensaje" rows="4" required></textarea>

    <button type="submit">Enviar</button>
</form>
<div class="contact-frame">
    <div class="contact-info">
        <div class="info-item">
            <label class="label">Dirección:</label>
            <p>Cuerpo Bajo B, Centro Cívico Gubernamental José Cecilio del Valle, Boulevard Juan Pablo II. Tegucigalpa M.D.C. Honduras.</p>
        </div>
        <div class="info-item">
            <label class="label">Horario de Atención al Ciudadano:</label>
            <p>Lunes a Viernes de 8:00 a.m. a 4:00 p.m.</p>
        </div>
        <div class="info-item">
            <label class="label">Teléfonos:</label>
            <p>22335588</p>
        </div>
        <div class="info-item">
            <label class="label">Fax:</label>
            <p>2241585252</p>
        </div>
        <div class="info-item">
            <label class="label">Correo Electrónico:</label>
            <p>Consultas@trabajo.gob.hn</p>
        </div>
    </div>
</div>
